*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html
{
    font-size: 62.5%;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20%);
    grid-gap: 5px;
    justify-content: center;
    margin: 0 20%;
  }
  .item {
    border-radius: 5px;
    padding: 10px;
    background: #f2f2f2;
    display: flex;  
  }

  .item img {
    max-width: 100%
  }
  .level-1 {
    grid-row-end: span 1;
  }

  .level-2 {
    grid-row-end: span 2;
    
  }
  .level-3 {
    grid-row-end: span 3;
  }
  .level-4 {
    grid-row-end: span 2;
  }
  .level-5 {
    grid-row-end: span 1;
  }
  @media screen and (max-width: 720px )
  {
        .container {
            margin: 0;
        }
  }